{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Kamal Bring</h1>
            <span class="subheading">A <strong><u>pro</u></strong>grammer!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a python programmer with keen interest in business intelligence and data science.</p>
        <p>I am a self-learner. I have learned Python programming, SQL, Power BI, DAX, VBA for Microsoft Excel on my own with the help of Udemy and e-books. Currently I am working towards earning Microsoft certifications in Azure and BI.</p>
        <p>I have a good understanding of full-stack web development, RESTful API development and databases. Please visit my GitHub profile to see my work.</p>
        <p>Feel free to reach out to me if you have any ideas.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}