{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        <div style="color:red">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <p class="flashes">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>

        <form name="loginForm" id="loginform" action="{{ url_for('login') }}" method="POST">
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
                {{ form.email(class="form-control",placeholder="Email") }}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Password</label>
              {{ form.password(class="form-control",placeholder="Password") }}
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          {{ form.submit(class="btn btn-primary") }}
        </form>


      </div>
    </div>
  </div>


{% include "footer.html" %}
{% endblock %}